simlar-prj/
simlar-prj/An Introduction To Programming Through C++ (2).png
simlar-prj/assmicrosft.py
simlar-prj/Bcls.class
simlar-prj/dad.jpg
simlar-prj/facedetect.py
simlar-prj/faceregocition.py
simlar-prj/haarcascade_frontalface_default.xml
simlar-prj/imagespp.jpg
simlar-prj/pr.py
